section{
  height: 100%;
  padding: 20px;
  background-color: aliceblue;
  img{
    height: 100px;
  }
  table{
    width: 100%;
    thead{
      color: #2375f0;
      font-weight: 600;
      font-family: "Axiforma-Regular";
    }
    tbody{
      color: black;
      font-weight: 300;
      font-family: "Axiforma-Regular";
    }
    th{
      width: 50%;
    }
  }
}