div{
  height: 100%;
  .header{
    background-color: #fff;
    font-family: "Axiforma-Regular";
    font-size: 18px;
    font-weight: 700;
    color: #2375f0;
    img{
      height: 50px;
      margin-right: 10px;
    }
  }
  .footer{
    font-family: "Axiforma-Regular";
    font-size: 10px;
    color: #fff;
    background: linear-gradient(45deg, #2375f0, #22abf1);
  }
}
